$xl-bp: 1920px;
$xm-bp: 1360px;
$sm-bp: 768px;
$xs-bp: 600px;

// colors
$primary-main: #4DAA59;
$primary-hover: #34743C;
$primary-disabled: #4DAA5980;

$text-primary: #1D1D1D;
$text-secondary: #595959;
$text-tertiary: #AFAFAF;

$stroke-primary: #C3C3C3;
$stroke-secondary: #E7E7E7;

$bg-white: #FFFFFF;
$bg-light: #F8F8F8;
$bg-color: #EBF9F2;
$bg-hover: #ECECEC;

$danger-default: #E02D3C;