html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

a,
input,
button,
select,
textarea {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  border-radius: 0;
}

svg {
  flex: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.lazy:not(.loaded) {
  filter: blur(0.4rem);
}

.swiper {
  width: 100%;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.3;
}

h2 {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 1.3;
}

h3 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 1.3;
}

h4 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.3;
}

h5 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.3;
}

h6 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
}

.fs-12 {
  font-size: 1.2rem;
}
.fs-14 {
  font-size: 1.4rem;
}
.fs-16 {
  font-size: 1.6rem;
}
.fs-18 {
  font-size: 1.8rem;
}
.fs-20 {
  font-size: 2rem;
}
.fs-22 {
  font-size: 2.2rem;
}
.fs-24 {
  font-size: 2.4rem;
}
.fs-26 {
  font-size: 2.6rem;
}
.fs-28 {
  font-size: 2.8rem;
}
.fs-32 {
  font-size: 3.2rem;
}

.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-select {
  position: relative;
}
.custom-select__btn {
  min-width: 120px;
  border: 1px solid rgba(80, 80, 80, 0.5960784314);
  border-radius: 10px;
  padding: 6px 12px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.custom-select__value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 100px;
  max-width: 140px;
  text-align: left;
}
.custom-select__arrow {
  width: 20px;
  height: 20px;
}
.custom-select__arrow svg {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}
.custom-select__options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: #fff;
  border: 1px solid rgba(80, 80, 80, 0.5960784314);
  border-radius: 10px;
  padding: 6px 12px;
  z-index: 2;
  width: max-content;
  min-width: 100%;
  display: none;
  flex-direction: column;
  gap: 4px;
}
.custom-select._show .custom-select__options {
  display: flex;
}
.custom-select._show .custom-select__arrow svg {
  transform: rotateX(180deg);
}
.custom-select__option {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.custom-select__option input {
  display: none;
}
.custom-select__option input:checked ~ .custom-select__option-icon svg {
  opacity: 1;
}
.custom-select__option-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  border: 1px solid rgba(80, 80, 80, 0.5960784314);
  border-radius: 4px;
}
.custom-select__option-icon svg {
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all 0.1s;
}

.select {
  max-width: 200px;
  position: relative;
  user-select: none;
  font-size: 16px;
}
.select select {
  display: none;
}

.select__box {
  background: #b1b1b1;
  border: 1.8px solid #535353;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.select__box .select__arrow {
  width: 24px;
  height: 24px;
}
.select__box .select__arrow svg {
  width: 100%;
  height: 100%;
}

.select.open .select__box {
  border-color: #000;
  box-shadow: 0 4px 12px rgba(74, 144, 226, 0.3);
}

.select.open .select__box .select__arrow {
  transform: rotateX(180deg);
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #b1b1b1;
  border: 1.8px solid #535353;
  border-top: none;
  border-radius: 0 0 10px 10px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.select.open .select__options {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.select__option {
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.select__option.hidden {
  display: none;
}

.select__option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.select__option:hover,
.select__option.active {
  background-color: #646464;
}

.custom-input-date {
  margin: 100px;
  width: 100%;
  max-width: 200px;
  position: relative;
}

.custom-input-date.show .calendar {
  display: flex;
}

/* calendar */
.calendar {
  background: #2e2f4f;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 10px);
  width: 300px;
  display: none;
}

.calendar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #45466e;
  border-radius: 10px;
  cursor: pointer;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #45466e;
}

.month-year {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}

.calendar-year {
  position: relative;
  cursor: pointer;
}

.calendar-year-dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: max-content;
  max-height: 200px;
  background: #ffffff;
  border-radius: 10px;
  overflow-y: auto;
  display: none;
  z-index: 1;
}

.calendar-year-dropdown::-webkit-scrollbar {
  width: 5px;
}

.calendar-year-dropdown::-webkit-scrollbar-button {
  display: none;
}

.calendar-year-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.calendar-year-dropdown::-webkit-scrollbar-thumb {
  background: #45466e;
  border-radius: 10px;
}

.calendar-year-dropdown.show {
  display: block;
}

.year-item {
  padding: 5px 10px;
  cursor: pointer;
}

.year-item:hover {
  background: #9db5ff;
}

.nav-btn {
  background: transparent;
  border: none;
  color: #cfcfee;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  user-select: none;
  transition: color 0.2s ease;
}

.nav-btn:hover,
.nav-btn:focus {
  color: #9db5ff;
  outline: none;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #3a3b5a;
  text-align: center;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 10px 0;
  user-select: none;
}

.days-of-week div {
  color: #b9bbd6;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #232340;
  color: #eee;
  user-select: none;
}

.day {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2e2f4f;
  cursor: default;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 1rem;
}

.day.empty {
  cursor: default;
  background: #232340;
  border: none;
}

.day.selected {
  background: #9db5ff;
  color: #2e2f4f;
  font-weight: 700;
  border-radius: 6px;
}

.footer {
  background-color: rgb(121, 110, 110);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.breadcrumbs__link:not(:first-child)::before {
  content: "/";
  margin-right: 0.8rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-wrap: wrap;
}
.pagination__link {
  flex: none;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
.pagination__link._active {
  background-color: #4DAA59;
  color: #FFFFFF;
}
.pagination__link:is(a) {
  transition: 0.3s;
}
@media (hover) {
  .pagination__link:is(a):hover {
    color: #34743C;
  }
}
@media (hover: none) {
  .pagination__link:is(a):active {
    color: #34743C;
  }
}
.pagination__link svg {
  width: 2.4rem;
  height: 2.4rem;
}
.pagination__btn {
  background-color: transparent;
}
.pagination__btn:not(a) {
  color: #AFAFAF;
  pointer-events: none;
}
.pagination__btn svg {
  flex: none;
  width: 2.4rem;
  height: 2.4rem;
}

/*# sourceMappingURL=global.css.map */
