---
import Footer from "@components/Footer/Footer.astro";
import Header from "@components/Header/Header.astro";
import Layout from "src/layouts/Layout.astro";
---


<link rel="stylesheet" href="../assets/styles/blog.scss">

<Layout
  title="Главная"
  libStyles={["./libs/lightbox/lightbox.min.css"]}
>

  <Header />

  <main class="page">

  </main>

  <Footer />

      <script is:inline src="./libs/lightbox/lightbox.js"></script>
</Layout>
