---
import Layout from "src/layouts/Layout.astro";
import Select from "@components/_UI/Select/Select.astro";
---

<Layout title="Главная">

  
  <Select />

  <a href="modal.html" data-vbtype="ajax" data-vbox> modal

  </a>


</Layout>