---
import Layout from "src/layouts/Layout.astro";
---

<Layout
  title="Главная"
  scripts={["./libs/lightbox/lightbox.js", "js/test.js"]}
  styles={["./libs/lightbox/lightbox.min.css"]}
>


  <div class="gallery">
    <a href="./img/galacebox.jpg" data-lightbox="image" data-title="" >
      <img src="./img/galacebox.jpg" alt="Изображение 1" />
    </a>
    <a href="./img/galacebox2.jpg" data-lightbox="image">
      <img src="./img/galacebox2.jpg" alt="Изображение 2" />
    </a>
    <a href="./img/galacebox3.jpg" data-lightbox="image">
      <img src="./img/galacebox3.jpg" alt="Изображение 3" />
    </a>

    <a href="./img/galacebox4.jpg" data-lightbox="image2">
      <img src="./img/galacebox4.jpg" alt="Изображение 4" />
    </a>
  </div>

<a href="./modal.html" data-vbtype="ajax" data-vbox="" class="footer-feedback__btn fs-14 default-btn default-btn_stroke">
        Предложить идею</a>

</Layout>


