---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Главная"
  scripts={[]}
  styles={["section/main/style.scss"]}
  libStyles={[]}
  libScripts={[]}
>
  <section>главная</section>
</Layout>
