---
import LayoutContents from "../layouts/LayoutContents.astro";
---

<LayoutContents title="Разводящая">
  
  <div class="">
    <a href="home.html"> Главная</a>
  </div>

  <style is:inline>

  </style>

</LayoutContents >
