<div class="custom-select" data-close-selection="true " data-select>
  <button class="custom-select__btn" data-select-btn>
    <span
      class="custom-select__value"
      data-select-value
      data-select-placeholder="Выберите марку"
      title=""></span>
    <div class="custom-select__arrow">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m6 9 6 6 6-6"></path>
      </svg>
    </div>
  </button>

  <div class="custom-select__options" data-select-options>
    <label class="custom-select__option">
      <input
        data-select-option
        type="radio"
        name="select3"
        value="Volkswagen"
      />
      <div class="custom-select__option-icon">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M20 6 9 17l-5-5"></path>
        </svg>
      </div>
      <span>Volkswagen</span>
    </label>

    <label class="custom-select__option">
      <input data-select-option type="radio" name="select3" value="BMW" />
      <div class="custom-select__option-icon">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M20 6 9 17l-5-5"></path>
        </svg>
      </div>
      <span>BMW</span>
    </label>

    <label class="custom-select__option">
      <input data-select-option type="radio" name="select3" value="Audi" />
      <div class="custom-select__option-icon">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M20 6 9 17l-5-5"></path>
        </svg>
      </div>
      <span>Audi</span>
    </label>
  </div>
</div>
