---
import CustomSelect from "@components/_UI/CustomSelect/CustomSelect.astro";

---


  <CustomSelect>
    <option value="-" hidden selected>выбрать</option>
    <option value="1">option 1</option>
    <option value="2" disabled>option 2</option>
    <option value="3">option 3</option>
  </CustomSelect>

