.select {
  max-width: 200px;
  position: relative;
  user-select: none;
  font-size: 16px;

  select {
    display: none;
  }
}

.select__value {}

.select__box {
  background: #b1b1b1;
  border: 1.8px solid #535353;
  border-radius: 10px;
  padding: 10px 14px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.select__box .select__arrow {
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.select.open .select__box {
  border-color: #000;
  box-shadow: 0 4px 12px rgb(74 144 226 / 0.3);
}

.select.open .select__box .select__arrow {
  transform: rotateX(180deg);
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #b1b1b1;
  border: 1.8px solid #535353;
  border-top: none;
  border-radius: 0 0 10px 10px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 10px 25px rgb(0 0 0 / 0.1);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.select.open .select__options {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.select__option {
  padding: 10px 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.select__option.hidden {
  display: none;
}

.select__option.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.select__option:hover,
.select__option.active {
  background-color: #646464;
}

.select__option-icon {}

.select__option-text {}