.text{
  display: none;
}
.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}.text{
  display: none;
}