@use "scss-reset/reset";
// @import "normalize-scss";
// @import "./utils/vars";
// @import "./utils/mixins";
// @import "./utils/fonts";
// @import "node_modules/venobox/dist/venobox.css";
// @import "plyr/dist/plyr.css";

html {
  box-sizing: border-box;
}





// @import "./general";
// @import "./components";
// @import "./pages";




.gallery{
  display: flex;
  gap: 20px;

  img{
    width: 200px;
  }
  
}