---
import Header from "@components/Header/Header.astro";
import Footer from "@components/Footer/Footer.astro";
import SpriteGroup from "@components/Sprite/SpriteGroup.astro";
import "../assets/styles/style.scss";

interface Props {
  title?: string;
}

const { title = "заголовок страницы" ,  } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    

    <!-- <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=de8b84da-ef52-4fe3-a58b-64374e973f5a"
      type="text/javascript"></script> -->
  </head>
  <body>
    <Header />
    <main class="page">
      <slot />
    </main>
    <Footer />
    <SpriteGroup />
  </body>
</html>

<script src="../assets/scripts/index.js"></script>
