---
type Props = {
  title?: string;
  scripts?: string[];
};

const { title = "заголовок страницы", scripts } = Astro.props;


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <main class="page">
      <slot />
    </main>

    <!-- scripts -->
    {
      scripts &&
        scripts.map((script) => <script is:inline src={script} defer />)
    }

    <script src="../assets/scripts/main.js"></script>
  </body>
</html>
