---
import SpriteGroup from "@components/Sprite/SpriteGroup.astro";
const isDev = import.meta.env.DEV;
interface Props {
  title?: string;
  styles?: string[] | undefined;

}

const { title = "заголовок страницы", styles } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    

    <title>{title}</title>

    {styles && styles.map((style) => <link rel="stylesheet" href={style} />)}

    <link rel="stylesheet" href="/css/global.css" />
    <!-- <style is:global>
     @import "../assets/styles/custom-name.css";
   </style> -->

    <!-- <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=de8b84da-ef52-4fe3-a58b-64374e973f5a"
      type="text/javascript"></script> -->

       {isDev && (
      <script src="http://localhost:35729/livereload.js?snipver=1" defer></script>
    )}
  </head>

  <body>
    <slot />

    <script src="../assets/scripts/index.js"></script>

    <SpriteGroup />
  </body>
</html>
